
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #00ffaa;
$darkerGray: #00ffaa;
$darkGray: #00ffaa;
$gray: #3399ff;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Arial Rounded, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
